**/*.map
node_modules/**/*.d.ts

node_modules/rimraf/
node_modules/mathjax-full/components/
node_modules/mathjax-full/es5/
node_modules/mathjax-full/ts/
node_modules/mathjax-full/js/output/chtml/
node_modules/mathjax-full/js/input/asciimath/
node_modules/mathjax-full/js/input/mathml/
node_modules/mathjax-full/node_modules/esm/
node_modules/mathjax-full/node_modules/mj-context-menu/
node_modules/mathjax-full/node_modules/speech-rule-engine/
